'use client';
import styles from './index.module.scss';

export default function {{pascalCase name}}() {
  return (
    <div className={styles.{{camelCase name}}Container}>
      <h1>{{pascalCase name}}</h1>
    </div>
  );
}
