'use client';
import styles from './page.module.scss';
import Head from 'next/head';

export default function {{pascalCase name}}() {
  return (
    <>
      <Head>
        <title>{{pascalCase name}}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/favicon.ico" />
      </Head>
      <main className={styles.{{camelCase name}}Container}>
        <h1>{{pascalCase name}}</h1>
      </main>
    </>
  );
}
