@import '@/styles/colors.scss';
@import '@/styles/variables.scss';
@import '@/styles/media.scss';

@mixin boxStyle {
  @include bodyStyle;
  background-color: $white;
  padding: $padding-m $padding-l;
  border: 1px solid $boxBorderGray;
  border-radius: $border-radius-xs;

  @include s-devices {
    padding: $padding-s;
  }
}

.deleteAccountContainer {
  @include boxStyle;
  @include flex-Col(center, center);

  .deleteAccountLink {
    font-size: $font-size-m;
    text-decoration: underline;
    cursor: pointer;
    color: $red;
  }

  .deleteIcon {
    font-size: $font-size-m;
    color: $red;
    margin-right: $margin-xs;
  }

  .deleteApproveContainer {
    @include flex-Col(center, flex-end);
    gap: $margin-s;

    .deleteInput {
      border-radius: $border-radius-s;
      border: $borderDarkGray;
    }

    .actionButtonContainer {
      @include flex-Row(center, center);
      gap: $margin-s;

      .deleteAccountBtn {
        border: 1px solid $red;
        color: $red;
      }
    }
  }
}
