@import '@/styles/variables.scss';
@import '@/styles/colors.scss';

.passwordMeterContainer {
  display: block;
  background: $lightGray3;
  border-radius: $border-radius-xs;
  margin-top: $margin-m;
  color: $darkGray;

  .requirementList {
    margin: 0;
    padding: $padding-xxs $padding-m;

    .requirementItem {
      font-size: $font-size-s;
    }
  }

  .strengthBar {
    background: $kickstartAIGradient;
    height: 6px;
    border-radius: $border-radius-xs;
    transition: width 0.5s ease-in-out;
  }
}
